nbproject/
/cache/*
!cache/.gitkeep
/public/files/*
!public/files/.gitkeep
/public/thumbs/*
!public/thumbs/.gitkeep
/templates/cache/*
!templates/cache/.gitkeep
/templates/compiled/*
!templates/compiled/.gitkeep
/web/files/*
!web/files/.gitkeep
/web/thumbs/*
!web/thumbs/.gitkeep
/config/development.php
node_modules/
/temp/*
!temp/.gitkeep
.idea/
