<div class="edit-header">
    <div class="layout-full">
    	{include file="layouts/admin/pages/_block.htm" blocks=$blocks.placeholder1 rel='placeholder1'}
        <div class="push"></div>
        {include file="layouts/admin/pages/_block.htm" blocks=$blocks.placeholder2 rel='placeholder2'}
        <div class="push"></div>
        {include file="layouts/admin/pages/_block.htm" blocks=$blocks.placeholder3 rel='placeholder3'}
        <div class="push"></div>
    </div>
</div>
<div class="push"></div>