<div class="push"></div>
<div class="edit-wrapper">
    <div class="layout-3-4">
        <div class="layout-1-3">
            {include file="layouts/admin/pages/_block.htm" blocks=$blocks.placeholder2 rel='placeholder2'}
        </div>
        <div class="layout-2-3 last">
            {include file="layouts/admin/pages/_block.htm" blocks=$blocks.placeholder3 rel='placeholder3'}
        </div>
        <div class="clear"></div>
    </div>

    <div class="layout-1-4 last">
        {include file="layouts/admin/pages/_block.htm" blocks=$blocks.placeholder4 rel='placeholder4'}
    </div>        
    <div class="push"></div>
    <div class="layout-full">
        {include file="layouts/admin/pages/_block.htm" blocks=$blocks.placeholder5 rel='placeholder5'}
    </div>
    <div class="push"></div>
</div>