<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>404 - Страницата, която търсите не бе намерена</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">404 - Страницата, която търсите не бе намерена</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-404">
						<div class="pad pad-primary">
							<article class="article article-404">
								<img src="../../assets/images/404.jpg" alt="" />

								<p>&nbsp;</p>
								
								<h2>Търсената от вас страница, не бе намерена</h2>

								<p>&nbsp;</p>

								<p><a href="#" class="btn btn-primary">Към начална страница</a></p>
							</article>
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>