<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>За нас</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">За нас</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<article class="article">
						<h1>Lorem ipsum dolor sit amet.</h1>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nam aut suscipit nemo odit accusamus vitae magnam libero. Magnam illo officia saepe fugit. Magnam incidunt nobis accusamus optio veritatis omnis.</p>

						<h2>Lorem ipsum dolor sit amet.</h2>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nam aut suscipit nemo odit accusamus vitae magnam libero. Magnam illo officia saepe fugit. Magnam incidunt nobis accusamus optio veritatis omnis.</p>

						<h3>Lorem ipsum dolor sit amet.</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nam aut suscipit nemo odit accusamus vitae magnam libero. Magnam illo officia saepe fugit. Magnam incidunt nobis accusamus optio veritatis omnis.</p>

						<h4>Lorem ipsum dolor sit amet.</h4>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nam aut suscipit nemo odit accusamus vitae magnam libero. Magnam illo officia saepe fugit. Magnam incidunt nobis accusamus optio veritatis omnis.</p>

						<ul>
							<li>Lorem ipsum dolor sit amet.</li>
							<li>Lorem ipsum dolor.Lorem ipsum dolor sit amet.</li>
							<li>Lorem ipsum dolor sit amet.</li>
						</ul>

						<ol>
							<li>Lorem ipsum dolor sit amet.</li>
							<li>Lorem ipsum dolor.Lorem ipsum dolor sit amet.</li>
							<li>Lorem ipsum dolor sit amet.</li>
						</ol>

						<h5>Lorem ipsum dolor sit amet.</h5>

						<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt repellendus optio tempore at tenetur praesentium culpa ipsa quas, dignissimos quibusdam. Rem numquam dignissimos earum vel placeat soluta molestias quisquam, in.</p>
						</blockquote>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nam aut suscipit nemo odit accusamus vitae magnam libero. Magnam illo officia saepe fugit. Magnam incidunt nobis accusamus optio veritatis omnis.</p>

						<h6>Lorem ipsum dolor sit amet.</h6>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nam aut suscipit nemo odit accusamus vitae magnam libero. Magnam illo officia saepe fugit. Magnam incidunt nobis accusamus optio veritatis omnis.</p>
					</article><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>