<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Майсторски съвети</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Майсторски съвети</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="toolbar toolbar-products toolbar-products-top">
						<nav class="paging">
							<ul>
								<li class="prev"><a href="#"></a></li>
								<li class="selected"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><span>...</span></li>
								<li><a href="#">5</a></li>
								<li class="next"><a href="#"></a></li>
							</ul>
						</nav><!-- /.paging -->
					</div><!-- /.toolbar -->

					<div class="boxes boxes-type-4 boxes-advices">
						<a href="advices-view.html" class="box box-type-4">
							<picture class="picture">
								<img src="../../assets/images/temp/advices.jpg" alt="" />

								<svg aria-hidden="true" class="icon icon-svg">
									<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
								</svg>
							</picture>

							<div class="content">
								<p class="title">Как да зидаме с керамични блокове Porotherm.</p>
							</div>
						</a>

						<a href="advices-view.html" class="box box-type-4">
							<picture class="picture">
								<img src="../../assets/images/temp/advices.jpg" alt="" />

								<svg aria-hidden="true" class="icon icon-svg">
									<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
								</svg>
							</picture>

							<div class="content">
								<p class="title">Как да се справим с влагата и мухъла.</p>
							</div>
						</a>
					</div><!-- /.boxes -->

					<div class="toolbar toolbar-products toolbar-products-bottom">
						<nav class="paging">
							<ul>
								<li class="prev"><a href="#"></a></li>
								<li class="selected"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><span>...</span></li>
								<li><a href="#">5</a></li>
								<li class="next"><a href="#"></a></li>
							</ul>
						</nav><!-- /.paging -->
					</div><!-- /.toolbar -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>	