<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li><a href="advices-listing.html">Майсторски съвети</a></li>
								<li>Как да се справим с влагата и мухъла</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Как да се справим с влагата и мухъла</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-gallery block-gallery-news">
						<div class="pad pad-primary">
							<div class="block-aside">
								<div class="gallery gallery-news">
									<img src="../../assets/images/temp/brand.jpg" alt="" />
								</div>
							</div>

							<div class="block-content">
								<div class="block-scroll js-custom-scroll">
									<article class="article">
										<p>Мокри прозорци и стени, постоянен конденз, неприятна миризма в стаята и гардероба... влага и мухъл, които водят до петна по стените и тавана на Вашия дом. Как да се справите с неприятната ситуация? GS Строймаркет Ви препоръчва специално разработените продукти и системи Ceresit Stop влага и Ceresit Stop мухъл, влагоабсорбатори, таблетки против влага, мини сашета, спрей против мухъл и плесен.</p>

										<p>Влагата, това е количеството вода във въздуха, а въздухът винаги съдържа влага. Това, което формира комфорта в дома обаче е относителната влажност на помещението. Счита се, че се чувстваме най-добре при 45-65% влажност. При по-висока влажност на въздуха се създава усещане за хлад, което увеличава опасността от различни заболявания включително и развиване на алергии.</p>

										<p><strong>Влагата във Вашия дом оставя следи по мебели, стени, подове и тапети, но тя вреди най-вече на Вас.</strong> Когато влажността на въздуха е висока, това рефлектира върху вашето здраве. Твърде високата влажност на въздуха увеличава риска от алергични реакции (например към мухъл и прах) и ревматични болести, към които най-податливи са възрастните хора и децата.</p>

										<p>Влагата може да се появи навсякъде и това може да има лоши последствия. Ако излишната влага няма къде да излезе, тя ще кондензира върху най-хладните места в жилището (прозорци, стаи без отопление, северни стаи, неизолирани или лошо изолирани стени). Влагата е навсякъде - дори чрез ежедневни дейности като готвене, къпане, простиране, отопление едно семейство произвежда средно 12 литра вода под формата на влага.</p>

										<p>Как влагата прониква във вашият дом?</p>

										<ul>
											<li>през спорите на материалите (позволяват на водните капки или пари да преминат през тях)</li>
											<li>при ежедневни дейности като готвене, отопление, душ, простиране, дори при дишане</li>
											<li>при водни аварии  (на пералня, кран, тръби)</li>
										</ul>

										<p>Влагата в дома не може да се види, но нейните негативните последици са видими и осезаеми. Високата влага води до появата на тъмни петна по тавана, стените и ъглите в дома, а това от друга страна води до отлепяне на тапетите и мазилката. Замъглените прозорци също са признак на високо ниво на излишна влага. Подложен на вредите от влагата е не само домът, а и хората, които живеят в него.</p>

										<p>За Дома:</p>

										<ul>
											<li>Тъмни петна по стени, ъгли</li>
											<li>Отлепени тапети</li>
											<li>Замъглени прозорци</li>
										</ul>

										<p>За Вещите:</p>

										<ul>
											<li>Мухъл, плесен</li>
											<li>Жълти петна</li>
											<li>Неприятни миризми</li>
										</ul>

										<p>За Здравето:</p>

										<ul>
											<li>Алергии</li>
											<li>Ревматизъм</li>
											<li>Астма и дихателни проблеми</li>
										</ul>
									</article>
								</div>

								<div class="toolbar toolbar-bordered">
									<div class="socials socials-share">
										<span>Сподели в:</span>
										
										<a href="#" target="_blank" class="socials-item facebook">
											<svg aria-hidden="true" class="icon icon-svg">
												<use xlink:href="../../assets/images/svg-sprite.svg#facebook"></use>
											</svg>
										</a>
										
										<a href="#" target="_blank" class="socials-item google">
											<svg aria-hidden="true" class="icon icon-svg">
												<use xlink:href="../../assets/images/svg-sprite.svg#google"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<div class="accents accents-inner">
		<section class="accent accent-related">
			<div class="wrapper">
				<h4 class="accent-title">Още снимки</h4>
				
				<div class="pad pad-primary">
					<div class="component-gallery photo">
						<a href="../../assets/images/temp/gallery1.jpg" class="component-gallery-item" title="Керамични блокове Porotherm" rel="photos">
							<img src="../../assets/images/temp/gallery1.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery2.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery2.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery3.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery3.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery4.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery4.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery1.jpg" class="component-gallery-item" title="Керамични блокове Porotherm" rel="photos">
							<img src="../../assets/images/temp/gallery1.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery2.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery2.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery3.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery3.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery4.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery4.jpg" alt="" />
						</a>
					</div>
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-related">
			<div class="wrapper">
				<h4 class="accent-title">Видео клипове</h4>
				
				<div class="pad pad-primary">
					<div class="component-gallery video">
						<a href="http://www.youtube.com/embed/TvOLKb8qwtg?rel=0&wmode=transparent" class="component-gallery-item" title="POROTHERM Profi DRYFIX System" rel="videos">
							<!-- !!! Thumbnail logic !!!
							
							http://img.youtube.com/vi/[video-id]/[thumbnail-number].jpg 
							
							-->

							<img src="http://img.youtube.com/vi/TvOLKb8qwtg/0.jpg" alt="" />
						</a>
						<a href="http://www.youtube.com/embed/WrrpzrZGlpQ?rel=0&wmode=transparent" class="component-gallery-item" title="Working with POROTHERM Blocks" rel="videos">
							<!-- !!! Thumbnail logic !!!
							
							http://img.youtube.com/vi/[video-id]/[thumbnail-number].jpg 
							
							-->

							<img src="http://img.youtube.com/vi/WrrpzrZGlpQ/0.jpg" alt="" />
						</a>
					</div>
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-related">
			<div class="wrapper">
				<h4 class="accent-title">Документация</h4>
				
				<div class="pad pad-primary">
					<ul class="list list-files">
						<li>
							<a href="#">
								<img src="../../assets/images/file-pdf.svg" alt="pdf" width="40" height="50" />
								<span>Керамични блокое Porotherm</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../assets/images/file-doc.svg" alt="doc" width="40" height="50" />
								<span>Продуктов каталог Porotherm</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../assets/images/file-pdf.svg" alt="pdf" width="40" height="50" />
								<span>Керамични блокое Porotherm</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../assets/images/file-doc.svg" alt="doc" width="40" height="50" />
								<span>Продуктов каталог Porotherm</span>
							</a>
						</li>
					</ul>
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->

		<div class="accent accent-related">
			<div class="wrapper">
				<h4 class="accent-title">Още майсторски съвети</h4>

				<div class="boxes boxes-type-4 boxes-advices">
					<a href="news-view.html" class="box box-type-4">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-news1.jpg" alt="" />

							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
							</svg>
						</picture>

						<div class="content">
							<p class="title">Как да зидаме с керамични блокове Porotherm.</p>
						</div>
					</a>

					<a href="news-view.html" class="box box-type-4">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-news2.jpg" alt="" />

							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
							</svg>
						</picture>

						<div class="content">
							<p class="title">Как да се справим с влагата и мухъла.</p>
						</div>
					</a>

					<a href="news-view.html" class="box box-type-4">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-news3.jpg" alt="" />

							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
							</svg>
						</picture>

						<div class="content">
							<p class="title">Как да зидаме с керамични блокове Porotherm.</p>
						</div>
					</a>
				</div><!-- /.boxes -->
			</div>
		</div><!-- /.accent -->
	</div><!-- /.accents -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>