<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<svg aria-hidden="true" class="icon icon-svg">
						<use xlink:href="../../assets/images/svg-sprite.svg#career"></use>
					</svg>

					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Работа при нас</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Работа при нас</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-careers-list">
						<div class="pad pad-secondary">
							<nav class="nav-content">
								<ul>
									<li><a href="#">Добрич</a></li>
									<li class="selected"><a href="#">Варна</a></li>
									<li><a href="#">София</a></li>
									<li><a href="#">Шумен</a></li>
									<li><a href="#">Каварна</a></li>
								</ul>
							</nav>

							<div class="block-content">
								<div class="component-accordion">
									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">складов работник</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
								
										<div class="accordion-item-body">
											<div class="article">
												<p>GS СТРОЙМАРКЕТ е фирма за търговия със строителни материали и материали за мебелното производство.</p>
												<p>За складовата си база в гр.Варна,търсим да назначим складов работник.</p>
												<p>Основни задължения - обслужва товаро-разтоварната дейност в търговския обект.</p>
												<p>Договорът ще се сключи с Господинови строймаркет ООД !</p>
											</div>

											<div class="btns">
												<a href="careers-view.html" class="btn btn-primary">Кандидатствайте</a>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">Хигиенист/ка - почасова работа</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
									
										<div class="accordion-item-body">
											<div class="article">
												<p>GS СТРОЙМАРКЕТ е фирма за търговия със строителни материали и материали за мебелното производство.</p>
												<p>За складовата си база в гр.Варна,търсим да назначим складов работник.</p>
												<p>Основни задължения - обслужва товаро-разтоварната дейност в търговския обект.</p>
												<p>Договорът ще се сключи с Господинови строймаркет ООД !</p>
											</div>

											<div class="btns">
												<a href="careers-view.html" class="btn btn-primary">Кандидатствайте</a>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">СКЛАДОВ РАБОТНИК</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
									
										<div class="accordion-item-body">
											<div class="article">
												<p>GS СТРОЙМАРКЕТ е фирма за търговия със строителни материали и материали за мебелното производство.</p>
												<p>За складовата си база в гр.Варна,търсим да назначим складов работник.</p>
												<p>Основни задължения - обслужва товаро-разтоварната дейност в търговския обект.</p>
												<p>Договорът ще се сключи с Господинови строймаркет ООД !</p>
											</div>

											<div class="btns">
												<a href="careers-view.html" class="btn btn-primary">Кандидатствайте</a>
											</div>
										</div>
									</div>
								</div><!-- /.component-accordion -->
							</div>
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>