<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<div class="main checkout">
		<div class="wrapper">
			<div class="checkout-content">
				<header class="checkout-header">
					<a href="index.html" class="logo">
						<img src="../../assets/images/logo2x.png" alt="logo" />
					</a>

					<div class="user-preview">
						<!-- !!! Guest user !!! -->
						<!-- <p class="checkout-login">Имате вече регистрация? <a href="#">Влезте от тук</a></p> -->

						<!-- !!! Loggedin user !!! -->
						<p class="checkout-greet">Здравейте, <a href="profile-personal.html">Никола Гударовски</a>!</p>
					</div>
				</header>

				<main class="checkout-main">
					<div class="checkout-message">
						<article class="article">
							<h1>Успешно завършихте вашата поръчка</h1>
						
							<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. Lorem Ipsum е индустриален стандарт от около 1500 година, когато неизвестен печатар взема няколко печатарски букви и ги разбърква, за да напечата с тях книга с примерни шрифтове.</p>
						</article>
						
						<div class="btns">
							<a href="index.html" class="btn btn-primary">Продължете към сайта</a>
						</div>
					</div>
				</main><!-- /.checkout-main -->
			</div><!-- /.checkout-content -->

			<aside class="checkout-aside">
				
			</aside>
		</div>
	</div><!-- /.main -->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>