<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Контакти</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Контакти</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-contacts">
						<div class="pad pad-primary">
							<div class="block-content">
								<article class="article">
									<table class="table-grid">
										<tr>
											<td style="width: 33.3%;">
												<h3>Централен офис</h3>
												
												<p>София 1220 <br />кв. Военна Рампа <br />ул. "Първа Българска армия" 1Б <br />тел./факс: (+359 2) 491 40 11</p>
											</td>
											<td style="width: 66.6%; ">
												<h3>Информация</h3>
												
												<p>Национален телефон за контакти: 0700 14 600 на цената на един градски разговор от цялата страна.</p>
												
												<a href="#" class="btn btn-article">Вижте нашите  магазини</a>
											</td>
										</tr>
									</table>
								</article>

								<div class="form form-contacts">
									<h2 class="form-title">Изпратете запитване</h2>

									<form action="#">
										<div class="form-top">
											<div class="cols cols-full">
												<div class="col col4of12">
													<div class="form-row form-row-inline">
														<label for="full_name" class="form-label required">Вашето име:</label>
													
														<div class="form-controls">
															<div class="field field-text error">
																<input type="text" name="full_name" id="full_name" required />
															</div>
														</div>
													</div>
												</div>
											
												<div class="col col4of12">
													<div class="form-row form-row-inline">
														<label for="city" class="form-label required">Град:</label>
													
														<div class="form-controls">
															<div class="field field-text success">
																<input type="text" name="city" id="city" />
															</div>
														</div>
													</div>
												</div>
												
												<div class="col col4of12">
													<div class="form-row form-row-inline">
														<label for="email" class="form-label required">Е-mail:</label>
													
														<div class="form-controls">
															<div class="field field-text">
																<input type="email" name="email" id="email" />
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="cols cols-full">
												<div class="col col4of12">
													<div class="form-row form-row-inline">
														<label for="phone" class="form-label required">Телефон:</label>
													
														<div class="form-controls">
															<div class="field field-text">
																<input type="text" name="phone" id="phone" required />
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="form-row">
												<label for="subject" class="form-label required">Относно:</label>
												
												<div class="form-controls">
													<div class="field field-text">
														<input type="text" name="subject" id="subject" required />
													</div>
												</div>
											</div>
											
											<div class="form-row">
												<label for="@" class="form-label required">Съобщение:</label>
												
												<div class="form-controls">
													<div class="field field-area">
														<textarea name="@" id="@" required></textarea>
													</div>
												</div>
											</div>
										</div><!-- /.form-top -->

										<div class="form-bottom">
											<div class="captcha">
												<img src="../../assets/images/captcha.png" alt="" />
											</div>

											<div class="btns">
												<button type="submit" class="btn btn-primary">Изпратете</button>
											</div>
										</div><!-- /.form-bottm -->
									</form>
								</div><!-- /.form -->
							</div>

							<div class="map-contacts" id="js-map"></div>
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlvoE-NOPnju-y-33J0IWcrmgcWvMz2FI"></script>
<script>
	$(document).ready(function() {
		// google map
		var $map = $('#js-map');
		var locations = {};
		
		locations = {
			"1": {
				"lat": "42.695987",
				"lng": " 23.316808"
			},
			"2": {
				"lat": "42.698987",
				"lng": " 23.316808"
			}
		};
		
		if (countObjectlocations(locations)) {
			initMap($map[0].id, locations);
		} else {
			$map.hide();
		}
	});

	function countObjectlocations(locations) {
		var count = 0;

		for (i in locations) {
			if (locations.hasOwnProperty(i)) {
				count++;
			}
		}
		return count > 0 ? true : false;
	}

	function initMap(mapContainer, locations) {
		var customStyles = [{"featureType":"all","elementType":"all","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":-30}]},{"featureType":"all","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"color":"#353535"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#656565"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#505050"}]},{"featureType":"poi","elementType":"geometry.stroke","stylers":[{"color":"#808080"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#454545"}]},{"featureType":"transit","elementType":"labels","stylers":[{"hue":"#000000"},{"saturation":100},{"lightness":-40},{"invert_lightness":true},{"gamma":1.5}]}];

		for (first in locations) {
			var firstIndex = first;
			break;
		}

		var mapOptions = {
			zoom: 17,
			scrollwheel: false,
			styles: customStyles,
			disableDefaultUI: false,
			center: new google.maps.LatLng(locations[firstIndex].lat, locations[firstIndex].lng),
			panControl: true,
			zoomControl: true,
			mapTypeControl: true,
			scaleControl: true,
			streetViewControl: true,
			overviewMapControl: true,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById(mapContainer), mapOptions);
		var markerBounds = new google.maps.LatLngBounds();
		var infowindow = new google.maps.InfoWindow();
		var marker;

		for (i in locations) {
			var iconUrl = "../../assets/images/map-pin-2x.png",
				iconSize = new google.maps.Size(35, 54);
			var markerPosition = new google.maps.LatLng(locations[i].lat, locations[i].lng);
			marker = new google.maps.Marker({
				position: markerPosition,
				map: map,
				animation: google.maps.Animation.DROP,
				icon: {
					url: iconUrl,
					scaledSize: iconSize
						// anchor: new google.maps.Point(23, 64) // pin point position
				}
			});
			markerBounds.extend(markerPosition);
		
			// add infoWindow to each pin
			// google.maps.event.addListener(marker, 'click', (function(marker, i) {
			// 	return function() {
			// 		infowindow.setContent('<div class="tooltip">'+locations[i].description+'</div>');
			// 		infowindow.open(map, marker);
			// 	}
			// })(marker, i));
		}
		// change zoom for multiple pins
		// map.fitBounds(markerBounds);
	}
</script>
</body>
</html>