<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Често задавани въпроси</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Често задавани въпроси</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-accordion block-faq">
						<div class="pad pad-secondary">
							<div class="block-content">
								<div class="component-accordion">
									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">Как да купя?</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
								
										<div class="accordion-item-body">
											<div class="article">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eius eligendi tenetur, porro laudantium perferendis nisi perspiciatis, ea harum tempora dolore repudiandae quo fuga aspernatur labore voluptates modi aperiam sunt. Dolorum corporis quam, repellat cum laudantium quos tempora magnam voluptas sint perspiciatis, nulla ipsa itaque atque quod incidunt maiores iusto laborum magni aliquam quidem est fugit? Nobis, dolorum, maxime. Eveniet ab laboriosam minima, voluptate quaerat sequi modi suscipit cumque, unde tempore, quo molestiae deserunt, rerum! Rerum suscipit harum deserunt quas adipisci, aliquam sed, perferendis mollitia sint, molestiae ea sapiente quasi! Quae voluptas nihil voluptates maxime? Perferendis nihil error optio nemo.</p>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">Трябва ли да се регистрирам?</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
									
										<div class="accordion-item-body">
											<div class="article">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eius eligendi tenetur, porro laudantium perferendis nisi perspiciatis, ea harum tempora dolore repudiandae quo fuga aspernatur labore voluptates modi aperiam sunt. Dolorum corporis quam, repellat cum laudantium quos tempora magnam voluptas sint perspiciatis, nulla ipsa itaque atque quod incidunt maiores iusto laborum magni aliquam quidem est fugit? Nobis, dolorum, maxime. Eveniet ab laboriosam minima, voluptate quaerat sequi modi suscipit cumque, unde tempore, quo molestiae deserunt, rerum! Rerum suscipit harum deserunt quas adipisci, aliquam sed, perferendis mollitia sint, molestiae ea sapiente quasi! Quae voluptas nihil voluptates maxime? Perferendis nihil error optio nemo.</p>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">А защо да се регистрирам?</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
									
										<div class="accordion-item-body">
											<div class="article">
												<p><strong>Регистрираните посетители на електронния магазин получават достъп до допълнителни функционалности, които им помагат в избора на продукти и управлението на направените поръчки:</strong></p>
												<p>След като веднъж зададете данните за доставка и фактура, не е необходимо да ги пишете отново при всяка нова поръчка.</p>
												<p>Всички успешно изпратени поръчки се записват в профила на клиента и той може да проследява статуса на поръчката до момента на нейното получаване. Също така може да разглежда съдържанието на всичките си стари поръчки.</p>
												<p>Регистрираният клиент може да създава свой собствен списък с любими продукти, което му позволява бързо и лесно да следи за тяхната наличност и да ги добавя в новите си поръчки, като пести ценно време.</p>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">Актуални ли са цените и наличностите на показаните продукти?</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
									
										<div class="accordion-item-body">
											<div class="article">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eius eligendi tenetur, porro laudantium perferendis nisi perspiciatis, ea harum tempora dolore repudiandae quo fuga aspernatur labore voluptates modi aperiam sunt. Dolorum corporis quam, repellat cum laudantium quos tempora magnam voluptas sint perspiciatis, nulla ipsa itaque atque quod incidunt maiores iusto laborum magni aliquam quidem est fugit? Nobis, dolorum, maxime. Eveniet ab laboriosam minima, voluptate quaerat sequi modi suscipit cumque, unde tempore, quo molestiae deserunt, rerum! Rerum suscipit harum deserunt quas adipisci, aliquam sed, perferendis mollitia sint, molestiae ea sapiente quasi! Quae voluptas nihil voluptates maxime? Perferendis nihil error optio nemo.</p>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">Защо цените в електронния магазин се различават от тези в търговските бази на GS Строймаркет?</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
									
										<div class="accordion-item-body">
											<div class="article">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eius eligendi tenetur, porro laudantium perferendis nisi perspiciatis, ea harum tempora dolore repudiandae quo fuga aspernatur labore voluptates modi aperiam sunt. Dolorum corporis quam, repellat cum laudantium quos tempora magnam voluptas sint perspiciatis, nulla ipsa itaque atque quod incidunt maiores iusto laborum magni aliquam quidem est fugit? Nobis, dolorum, maxime. Eveniet ab laboriosam minima, voluptate quaerat sequi modi suscipit cumque, unde tempore, quo molestiae deserunt, rerum! Rerum suscipit harum deserunt quas adipisci, aliquam sed, perferendis mollitia sint, molestiae ea sapiente quasi! Quae voluptas nihil voluptates maxime? Perferendis nihil error optio nemo.</p>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">Защо не  мога да добавя продукт в потребителската кошница?</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
									
										<div class="accordion-item-body">
											<div class="article">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eius eligendi tenetur, porro laudantium perferendis nisi perspiciatis, ea harum tempora dolore repudiandae quo fuga aspernatur labore voluptates modi aperiam sunt. Dolorum corporis quam, repellat cum laudantium quos tempora magnam voluptas sint perspiciatis, nulla ipsa itaque atque quod incidunt maiores iusto laborum magni aliquam quidem est fugit? Nobis, dolorum, maxime. Eveniet ab laboriosam minima, voluptate quaerat sequi modi suscipit cumque, unde tempore, quo molestiae deserunt, rerum! Rerum suscipit harum deserunt quas adipisci, aliquam sed, perferendis mollitia sint, molestiae ea sapiente quasi! Quae voluptas nihil voluptates maxime? Perferendis nihil error optio nemo.</p>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">Защо калкулатора за доставка понякога не работи?</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
									
										<div class="accordion-item-body">
											<div class="article">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eius eligendi tenetur, porro laudantium perferendis nisi perspiciatis, ea harum tempora dolore repudiandae quo fuga aspernatur labore voluptates modi aperiam sunt. Dolorum corporis quam, repellat cum laudantium quos tempora magnam voluptas sint perspiciatis, nulla ipsa itaque atque quod incidunt maiores iusto laborum magni aliquam quidem est fugit? Nobis, dolorum, maxime. Eveniet ab laboriosam minima, voluptate quaerat sequi modi suscipit cumque, unde tempore, quo molestiae deserunt, rerum! Rerum suscipit harum deserunt quas adipisci, aliquam sed, perferendis mollitia sint, molestiae ea sapiente quasi! Quae voluptas nihil voluptates maxime? Perferendis nihil error optio nemo.</p>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<div class="accordion-item-head" data-active-target=".accordion-item-body" data-active-scope=".accordion-item">
											<p class="title">Защо не мога да платя с моята банкова карта?</p>

											<svg aria-hidden="true" class="icon icon-svg icon-arrow-down">
												<use xlink:href="../../assets/images/svg-sprite.svg#arrow-down"></use>
											</svg>
										</div>
									
										<div class="accordion-item-body">
											<div class="article">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eius eligendi tenetur, porro laudantium perferendis nisi perspiciatis, ea harum tempora dolore repudiandae quo fuga aspernatur labore voluptates modi aperiam sunt. Dolorum corporis quam, repellat cum laudantium quos tempora magnam voluptas sint perspiciatis, nulla ipsa itaque atque quod incidunt maiores iusto laborum magni aliquam quidem est fugit? Nobis, dolorum, maxime. Eveniet ab laboriosam minima, voluptate quaerat sequi modi suscipit cumque, unde tempore, quo molestiae deserunt, rerum! Rerum suscipit harum deserunt quas adipisci, aliquam sed, perferendis mollitia sint, molestiae ea sapiente quasi! Quae voluptas nihil voluptates maxime? Perferendis nihil error optio nemo.</p>
											</div>
										</div>
									</div>
								</div><!-- /.component-accordion -->
							</div>
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>