<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="accents">
		<section class="accent accent-banners">
			<div class="wrapper">
				<!-- 
					# Predefined classes:
					# banner-1of5
					# banner-2of5
					# banner-3of5
					# banner-4of5
					# banner-5of5
				 -->
				<div class="banners banners-3of5">
					<a href="#" class="banners-item color-category-1">
						<picture class="picture">
							<!-- !!! desktop picture !!! -->
							<img src="../../assets/images/temp/banner1.jpg" alt="" />

							<!-- !!! mobile picture !!! -->
							<img src="../../assets/images/temp/banner-placeholder.jpg" alt="" />
						</picture>

						<div class="description">
							<div class="description-top">
								<p class="title">Безплатно тониране</p>
							</div>

							<div class="description-bottom">
								<div class="text">
									<p>През целия месец април, всички клиенти на GS Строймаркет получават безплатно тониране на интериорни бои.</p>
								</div>

								<div class="description-below">
									<figure class="figure-category">
										

										<svg aria-hidden="true" class="icon icon-svg">
											<use xlink:href="../../assets/images/svg-sprite.svg#figure1"></use>
										</svg>
									</figure>
									
									<div class="banner-price-wrap">
										<p class="banner-price"><strong>35.</strong><sup>29</sup> лв/м2.</p>
									</div>
								</div>
							</div>
						</div>
					</a>

					<a href="#" class="banners-item color-category-3">
						<picture class="picture">
							<!-- !!! desktop picture !!! -->
							<img src="../../assets/images/temp/banner2.jpg" alt="" />

							<!-- !!! mobile picture !!! -->
							<img src="../../assets/images/temp/banner-placeholder.jpg" alt="" />
						</picture>

						<div class="description">
							<div class="description-top">
								<p class="title">Градински маркуч</p>
							</div>

							<div class="description-bottom">
								<div class="text">
									<p>Размер: 1/2’ х 15 м. комплект с 4 конектора</p>
								</div>

								<div class="description-below">
									<figure class="figure-category">
										<svg aria-hidden="true" class="icon icon-svg">
											<use xlink:href="../../assets/images/svg-sprite.svg#figure3"></use>
										</svg>
									</figure>
									
									<div class="banner-price-wrap">
										<p class="banner-price banner-price-old"><strong>12.</strong><sup>49</sup> лв.</p>
										<p class="banner-price banner-price-new"><strong>11.</strong><sup>29</sup> лв.</p>
									</div>
								</div>
							</div>
						</div>
					</a>

					<a href="#" class="banners-item color-category-2">
						<picture class="picture">
							<!-- !!! desktop picture !!! -->
							<img src="../../assets/images/temp/banner3.jpg" alt="" />

							<!-- !!! mobile picture !!! -->
							<img src="../../assets/images/temp/banner-placeholder.jpg" alt="" />
						</picture>

						<div class="description">
							<div class="description-top">
								<p class="title">Смесител за вана</p>
							</div>

							<div class="description-bottom">
								<div class="text">
									<p>Размер: 1/2’ х 15 м. комплект с 4 конектора</p>
								</div>

								<div class="description-below">
									<figure class="figure-category">
										<svg aria-hidden="true" class="icon icon-svg">
											<use xlink:href="../../assets/images/svg-sprite.svg#figure2"></use>
										</svg>
									</figure>
									
									<div class="banner-price-wrap">
										<p class="banner-price banner-price-old"><strong>12.</strong><sup>49</sup> лв.</p>
										<p class="banner-price banner-price-new"><strong>11.</strong><sup>29</sup> лв.</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div><!-- /.banners -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-features">
			<div class="wrapper">
				<div class="pad pad-primary">
					<div class="boxes boxes-basic boxes-type-1">
						<a href="#" class="box box-type-1">
							<figure class="picture">
								<img src="../../assets/images/features1.svg" alt="" />
							</figure>
					
							<div class="content">
								<p class="title">доставка</p>
					
								<div class="text">
									<p>— Вземи от магазина</p>
									<p>— Доставка с куриер</p>
									<p>— GS транспорт</p>
								</div>
							</div>
						</a>
					
						<a href="#" class="box box-type-1">
							<figure class="picture">
								<img src="../../assets/images/features2.svg" alt="" />
							</figure>
					
							<div class="content">
								<p class="title">Плащане</p>
					
								<div class="text">
									<p>— Вземи от магазина</p>
									<p>— Доставка с куриер</p>
									<p>— GS транспорт</p>
								</div>
							</div>
						</a>
					
						<a href="#" class="box box-type-1">
							<figure class="picture">
								<img src="../../assets/images/features3.svg" alt="" />
							</figure>
					
							<div class="content">
								<p class="title">Виртуална разходка</p>
					
								<div class="text">
									<p>— Вземи от магазина</p>
									<p>— Доставка с куриер</p>
									<p>— GS транспорт</p>
								</div>
							</div>
						</a>
					</div><!-- /.boxes -->
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-products-promo">
			<div class="wrapper">
				<div class="pad pad-primary">
					<div class="boxes boxes-basic boxes-products boxes-type-2 boxes-products-promo">
						<div class="box box-basic box-more">
							<div class="content">
								<svg aria-hidden="true" class="icon icon-svg">
									<use xlink:href="../../assets/images/svg-sprite.svg#ribbon-promo"></use>
								</svg>
								
								<p class="title">Акция</p>
								
								<div class="btns">
									<a href="#" class="btn btn-primary">виж всички</a>
								</div>
							</div>
						</div>

						<a href="products-view.html" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-promo1.jpg" alt="" />

								<span class="ribbon ribbon-promo">
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="../../assets/images/svg-sprite.svg#ribbon-promo"></use>
									</svg>
								</span>
							</picture>
					
							<div class="content">
								<p class="brand">Metabo</p>

								<p class="title">Ъглошлайф wev 10-125 quick метабо</p>
					
								<div class="box-price-wrap">
									<p class="box-price-new"><strong>723.90</strong> лв.</p>
									<p class="box-price-old"><strong>823.90</strong> лв.</p>
								</div>
							</div>
						</a>

						<a href="products-view.html" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-promo2.jpg" alt="" />

								<span class="ribbon ribbon-promo">
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="../../assets/images/svg-sprite.svg#ribbon-promo"></use>
									</svg>
								</span>
							</picture>
						
							<div class="content">
								<p class="brand">Оргахим</p>

								<p class="title">СРЕБЪРЕН ФЕРОЛИТ ЕМАЙЛ ЛАК 0.650кг ЛЕКО</p>
						
								<div class="box-price-wrap">
									<p class="box-price-new"><strong>8.60</strong> лв.</p>
									<p class="box-price-old"><strong>10.90</strong> лв.</p>
								</div>
							</div>
						</a>

						<a href="products-view.html" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-promo3.jpg" alt="" />

								<span class="ribbon ribbon-promo">
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="../../assets/images/svg-sprite.svg#ribbon-promo"></use>
									</svg>
								</span>
							</picture>
						
							<div class="content">
								<p class="brand">Topmaster</p>

								<p class="title">ЧУК ДРЪЖКА ФИБРОСТЪКЛО ТМР DIN1041 300гр</p>
						
								<div class="box-price-wrap">
									<p class="box-price-new"><strong>23.90</strong> лв.</p>
									<p class="box-price-old"><strong>25.90</strong> лв.</p>
								</div>
							</div>
						</a>

						<a href="products-view.html" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-promo1.jpg" alt="" />

								<span class="ribbon ribbon-promo">
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="../../assets/images/svg-sprite.svg#ribbon-promo"></use>
									</svg>
								</span>
							</picture>
						
							<div class="content">
								<p class="brand">Metabo</p>

								<p class="title">Ъглошлайф wev 10-125 quick метабо</p>
						
								<div class="box-price-wrap">
									<p class="box-price-new"><strong>723.90</strong> лв.</p>
									<p class="box-price-old"><strong>823.90</strong> лв.</p>
								</div>
							</div>
						</a>
					</div><!-- /.boxes -->
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-products-new">
			<div class="wrapper">
				<div class="pad pad-primary">
					<div class="boxes boxes-basic boxes-products boxes-type-2 boxes-products-new">
						<div class="box box-basic box-more">
							<div class="content">
								<svg aria-hidden="true" class="icon icon-svg">
									<use xlink:href="../../assets/images/svg-sprite.svg#ribbon-promo"></use>
								</svg>
								
								<p class="title">Ново</p>
								
								<div class="btns">
									<a href="#" class="btn btn-primary">виж всички</a>
								</div>
							</div>
						</div>

						<a href="products-view.html" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new2.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Metabo</p>

								<p class="title">Ъглошлайф wev 10-125 quick метабо</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>723.99</strong> лв.</p>
								</div>
							</div>
						</a>

						<a href="products-view.html" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new3.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Bosch</p>

								<p class="title">ЧУК ДРЪЖКА ФИБРОСТЪКЛО ТМР DIN1041 300гр</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>35.88</strong> лв.</p>
								</div>
							</div>
						</a>

						<a href="products-view.html" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new4.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Stanley</p>

								<p class="title">КУТИЯ MEGA CANTILEVER 19"</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>73.40</strong> лв.</p>
								</div>
							</div>
						</a>

						<a href="products-view.html" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new5.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Stanley</p>

								<p class="title">НОЖИЦА ЗА ЛАМАРИНА ДЯСНА УСИЛЕНА СТЕНЛИ</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>35.69</strong> лв.</p>
								</div>
							</div>
						</a>
					</div><!-- /.boxes -->
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-products-categories">
			<div class="wrapper">
				<p class="accent-title">Време за градината</p>

				<div class="boxes boxes-type-3">
					<a href="#" class="box box-type-3 color-category-3">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-categories1.jpg" alt="" />
						</picture>

						<div class="overlay">
							<figure class="figure">
								<svg aria-hidden="true" class="icon icon-svg">
									<use xlink:href="../../assets/images/svg-sprite.svg#figure3"></use>
								</svg>
							</figure>

							<div class="content">
								<p class="title">Градински пейки и люлки</p>
								
								<div class="text">
									<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. Lorem Ipsum е индустриален стандарт от около 1500 година</p>
								</div>
							</div>
						</div>
					</a>

					<a href="#" class="box box-type-3 color-category-3">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-categories2.jpg" alt="" />
						</picture>

						<div class="overlay">
							<figure class="figure">
								<svg aria-hidden="true" class="icon icon-svg">
									<use xlink:href="../../assets/images/svg-sprite.svg#figure3"></use>
								</svg>
							</figure>

							<div class="content">
								<p class="title">Градински маркучи и поливни системи</p>
								
								<div class="text">
									<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия.  </p>
								</div>
							</div>
						</div>
					</a>

					<a href="#" class="box box-type-3 color-category-3">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-categories3.jpg" alt="" />
						</picture>

						<div class="overlay">
							<figure class="figure">
								<svg aria-hidden="true" class="icon icon-svg">
									<use xlink:href="../../assets/images/svg-sprite.svg#figure3"></use>
								</svg>
							</figure>

							<div class="content">
								<p class="title">Моторни косачки</p>
								
								<div class="text">
									<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия.  </p>
								</div>
							</div>
						</div>
					</a>

					<a href="#" class="box box-type-3 color-category-3">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-categories4.jpg" alt="" />
						</picture>

						<div class="overlay">
							<figure class="figure">
								<svg aria-hidden="true" class="icon icon-svg">
									<use xlink:href="../../assets/images/svg-sprite.svg#figure3"></use>
								</svg>
							</figure>

							<div class="content">
								<p class="title">Градински Барбекюта</p>
								
								<div class="text">
									<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия.  </p>
								</div>
							</div>
						</div>
					</a>
				</div><!-- /.boxes -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-news">
			<div class="wrapper">
				<p class="accent-title">Новини и статии</p>

				<div class="boxes boxes-type-4">
					<a href="#" class="box box-type-4">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-news1.jpg" alt="" />

							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
							</svg>
						</picture>

						<div class="content">
							<p class="title">Месец на Weber и томбола с награди в GS Строймаркет</p>

							<p class="box-date"><strong>13</strong><small>04 2017</small></p>
						</div>
					</a>

					<a href="#" class="box box-type-4">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-news2.jpg" alt="" />

							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
							</svg>
						</picture>

						<div class="content">
							<p class="title">Акция керемиди Bramac с подарък</p>

							<p class="box-date"><strong>03</strong><small>04 2017</small></p>
						</div>
					</a>

					<a href="#" class="box box-type-4">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-news3.jpg" alt="" />

							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
							</svg>
						</picture>

						<div class="content">
							<p class="title">ПУ пяна Ceresit за работа при ниски температури с отстъпка 10%</p>

							<p class="box-date"><strong>06</strong><small>02 2017</small></p>
						</div>
					</a>
				</div><!-- /.boxes -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-parallax">
			<div class="wrapper">
				<div class="banner" style="background-image: url('../../assets/images/temp/bg-parallax1.jpg'); ">
					<div class="parallax-container">
						<div class="parallax">
							<img src="../../assets/images/temp/bg-parallax1.jpg" alt="" />
						</div>
					</div>
					
					<div class="overlay">
						<p class="title">Водоструйка Karcher</p>
					
						<div class="text">
							<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия.</p>
						</div>
					
						<div class="btns">
							<a href="#" class="btn btn-primary">Купи сега</a>
						</div>
					</div>

					<p class="banner-price">
						<strong>251.</strong>
						<sup>00</sup>
						<span>лв.</span>
						
						<svg aria-hidden="true" class="icon icon-svg">
							<use xlink:href="../../assets/images/svg-sprite.svg#shape-basic"></use>
						</svg>
					</p>
				</div><!-- /.banner -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-partners">
			<div class="wrapper">
				<p class="accent-title">Брандове</p>

				<div class="boxes boxes-type-5">
					<a href="#" class="box box-type-5">
						<img src="../../assets/images/temp/partners1.jpg" alt="" />
					</a>

					<a href="#" class="box box-type-5">
						<img src="../../assets/images/temp/partners2.jpg" alt="" />
					</a>

					<a href="#" class="box box-type-5">
						<img src="../../assets/images/temp/partners3.jpg" alt="" />
					</a>

					<a href="#" class="box box-type-5">
						<img src="../../assets/images/temp/partners4.jpg" alt="" />
					</a>

					<a href="#" class="box box-type-5">
						<img src="../../assets/images/temp/partners5.jpg" alt="" />
					</a>

					<a href="#" class="box box-type-5">
						<img src="../../assets/images/temp/partners6.jpg" alt="" />
					</a>

					<a href="#" class="box box-type-5">
						<img src="../../assets/images/temp/partners7.jpg" alt="" />
					</a>

					<a href="#" class="box box-type-5">
						<img src="../../assets/images/temp/partners8.jpg" alt="" />
					</a>

					<a href="#" class="box box-type-5">
						<img src="../../assets/images/temp/partners9.jpg" alt="" />
					</a>

					<a href="#" class="box box-type-5">
						<img src="../../assets/images/temp/partners10.jpg" alt="" />
					</a>
				</div><!-- /.boxes -->
			</div>
		</section><!-- /.accent -->
	</div>

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
<script>
	$(document).ready(function(){
		$('.parallax').parallax();

		Global.autocomplete.init('../ajax/search.json');
	});
</script>
</body>
</html>	