<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li><a href="news-listing.html">Новини</a></li>
								<li>Безплатно тониране на интериорни бои в GS Строймаркет</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Безплатно тониране на интериорни бои в GS Строймаркет</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-gallery block-gallery-news">
						<div class="pad pad-primary">
							<div class="block-aside">
								<div class="gallery gallery-news">
									<img src="../../assets/images/temp/brand.jpg" alt="" />
								</div>

								<div class="toolbar toolbar-date">
									<p class="date">12.05.2017</p>

									<div class="btns">
										<a href="#" class="btn btn-secondary">Назад</a>
									</div>
								</div>
							</div>

							<div class="block-content">
								<div class="block-scroll js-custom-scroll">
									<article class="article">
										<p>През целия месец април, всички клиенти на GS Строймаркет получават безплатно тониране на интериорни бои.</p>
										<p>В акцията са включените продуктите от серията бои за стени Spirit и интериорни бази Хамелекон на Оргахим.</p>
										<p>Изберете своя любим цвят от разнообразието в цветови картели Select и безплатно тониране. Освежете всяка стая от своя дом с актуални цветови комбинации, красиви нюанси и безупречни плътни цветове с гарантирано качество от Оргахим.</p>
									
										<p><strong>Най- новите интериорни бои на Orgachim от серията Spirit се наложиха като висококачествени бои, предпочитани на българския пазар. Продуктовата серия бои Спирит се характеризират с:</strong></p>
									
										<ul>
											<li>Боя за вътрешна употреба</li>
											<li>Отлична белота</li>
											<li>Висока покривна способност</li>
											<li>Висока устойчивост на мокро триене</li>
											<li>Позволява по-често почистване</li>
											<li>Покрива малки повърхностни дефекти</li>
										</ul>
									
										<p>Безплатно тониране интериорни бои Оргахим <br />Хамелекон база за тониране - интериор <br />Боядисване на стени и тавани в закрити помещения</p>
									
										<p><strong>Свойства:</strong></p>
									
										<ul>
											<li>Микропорести покрития. Осигурява “дишане” на стените;</li>
											<li>Добра покривност;</li>
											<li>Добра устойчивост на мокро триене и миене – клас 3 и 2,1 съгл. ISО 11998;</li>
											<li>Бързо съхнене, слаба миризма;</li>
											<li>Притежава отлично сцепление с повърхностите;</li>
											<li>Добро поведение при нанасяне – добра разливност и изравняване на мокрото покритие. Не пръска при нанасяне. Добро наслояване;</li>
										</ul>
									</article>
								</div>

								<div class="toolbar toolbar-bordered">
									<div class="socials socials-share">
										<span>Сподели в:</span>
										
										<a href="#" target="_blank" class="socials-item facebook">
											<svg aria-hidden="true" class="icon icon-svg">
												<use xlink:href="../../assets/images/svg-sprite.svg#facebook"></use>
											</svg>
										</a>
										
										<a href="#" target="_blank" class="socials-item google">
											<svg aria-hidden="true" class="icon icon-svg">
												<use xlink:href="../../assets/images/svg-sprite.svg#google"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<div class="accents accents-inner">
		<section class="accent accent-related">
			<div class="wrapper">
				<h4 class="accent-title">Още снимки</h4>
				
				<div class="pad pad-primary">
					<div class="component-gallery photo">
						<a href="../../assets/images/temp/gallery1.jpg" class="component-gallery-item" title="Керамични блокове Porotherm" rel="photos">
							<img src="../../assets/images/temp/gallery1.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery2.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery2.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery3.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery3.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery4.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery4.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery1.jpg" class="component-gallery-item" title="Керамични блокове Porotherm" rel="photos">
							<img src="../../assets/images/temp/gallery1.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery2.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery2.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery3.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery3.jpg" alt="" />
						</a>
						<a href="../../assets/images/temp/gallery4.jpg" class="component-gallery-item" rel="photos">
							<img src="../../assets/images/temp/gallery4.jpg" alt="" />
						</a>
					</div>
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-related">
			<div class="wrapper">
				<h4 class="accent-title">Видео клипове</h4>
				
				<div class="pad pad-primary">
					<div class="component-gallery video">
						<a href="http://www.youtube.com/embed/tUjakoZ0m9Y?rel=0&wmode=transparent" class="component-gallery-item" title="POROTHERM Profi DRYFIX System" rel="videos">
							<!-- !!! Thumbnail logic !!!
							
							http://img.youtube.com/vi/[video-id]/[thumbnail-number].jpg 
							
							-->

							<img src="http://img.youtube.com/vi/tUjakoZ0m9Y/0.jpg" alt="" />
						</a>
						<a href="http://www.youtube.com/embed/autZufInfMo?rel=0&wmode=transparent" class="component-gallery-item" title="Working with POROTHERM Blocks" rel="videos">
							<!-- !!! Thumbnail logic !!!
							
							http://img.youtube.com/vi/[video-id]/[thumbnail-number].jpg 
							
							-->

							<img src="http://img.youtube.com/vi/autZufInfMo/0.jpg" alt="" />
						</a>
					</div>
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-related">
			<div class="wrapper">
				<h4 class="accent-title">Документация</h4>
				
				<div class="pad pad-primary">
					<ul class="list list-files">
						<li>
							<a href="#">
								<img src="../../assets/images/file-pdf.svg" alt="pdf" width="40" height="50" />
								<span>Керамични блокое Porotherm</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../assets/images/file-doc.svg" alt="doc" width="40" height="50" />
								<span>Продуктов каталог Porotherm</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../assets/images/file-pdf.svg" alt="pdf" width="40" height="50" />
								<span>Керамични блокое Porotherm</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../assets/images/file-doc.svg" alt="doc" width="40" height="50" />
								<span>Продуктов каталог Porotherm</span>
							</a>
						</li>
					</ul>
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->

		<div class="accent accent-related">
			<div class="wrapper">
				<h4 class="accent-title">Още новини</h4>

				<div class="boxes boxes-type-4">
					<a href="news-view.html" class="box box-type-4">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-news1.jpg" alt="" />

							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
							</svg>
						</picture>

						<div class="content">
							<p class="title">Месец на Weber и томбола с награди в GS Строймаркет</p>

							<p class="box-date"><strong>13</strong><small>04 2017</small></p>
						</div>
					</a>

					<a href="news-view.html" class="box box-type-4">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-news2.jpg" alt="" />

							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
							</svg>
						</picture>

						<div class="content">
							<p class="title">Акция керемиди Bramac с подарък</p>

							<p class="box-date"><strong>03</strong><small>04 2017</small></p>
						</div>
					</a>

					<a href="news-view.html" class="box box-type-4">
						<picture class="picture">
							<img src="../../assets/images/temp/accent-news3.jpg" alt="" />

							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../assets/images/svg-sprite.svg#mask"></use>
							</svg>
						</picture>

						<div class="content">
							<p class="title">ПУ пяна Ceresit за работа при ниски температури с отстъпка 10%</p>

							<p class="box-date"><strong>06</strong><small>02 2017</small></p>
						</div>
					</a>
				</div><!-- /.boxes -->
			</div>
		</div><!-- /.accent -->
	</div><!-- /.accents -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>