<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li><a href="partners-listing.html">Партньори</a></li>
								<li>Bosch</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Bosch</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-partners-view">
						<div class="pad pad-primary">
							<div class="block-top">
								<figure class="logo-brand">
									<img src="../../assets/images/temp/logo-bosch.png" alt="" />
								</figure>
							</div><!-- /.block-top -->

							<div class="block-middle">
								<article class="article">
									<p>Продуктите с марката Bosch винаги са били и продължават да бъдат символ на високо качество, надеждност и професионализъм. Роберт Бош ЕООД е регионално дружество в България на Бош Групата , една от най-големите в света частни индустриални корпорации.</p>
									
									<p>Бош Групата е водещ глобален доставчик на технологии и услуги. В областите на автомобилните и индустриалните технологии, стоките за потребление и строителната индустрия. Бош Групата е съставена от Robert Bosch GmbH и над 350 поделения и регионални дружества в повече от 60 държави.  Ако се прибавят и търговските и сервизни партньори, Бош е представен в 150 страни по света. Развойната, производствената и търговската мрежа на компанията са основа за бъдещото развитие. Бош е вложил над 4.2 милиарда Евро в развойна дейност през 2011 и е регистрирал 4 126 патента по целия свят. Със своите продукти и услуги, Бош допринася за повишаването на качеството на живот, осигурявайки решения, които са едновременно иновативни и рентабилни. Компанията Бош произвежда голямо разнообразие електроинструменти и уреди за професионална употреба в индустрията, производството, строителството и дома.</p>
									
									<p>Компанията е създадена през 1886 в Щутгарт от Роберт Бош (1861-1942) като “Работилница за прецизна механика и електро инженерство”. Структурата на собствеността на Бош Групата гарантира нейната финансова независимост и свободата на предприемачеството. Това дава възможност на компанията да планира дългосрочно и да прави значителни инвестиции, с които да осигури бъдещето си, и още нови продукти с високо качество за дома, строителството и индустрията.</p>
								</article>
							</div><!-- /.block-middle -->

							<div class="block-bottom">
								<div class="boxes boxes-type-7">
									<div class="box box-type-7 color-category-4">
										<figure class="figure">
											<svg aria-hidden="true" class="icon icon-svg">
												<use xlink:href="../../assets/images/svg-sprite.svg#figure4"></use>
											</svg>
										</figure>

										<p class="title" data-count="246">инструменти</p>

										<ul>
											<li><a href="#">Триони и ножовки (1)</a></li>
											<li><a href="#">Ролетки (3)</a></li>
											<li><a href="#">Нивелири (3)</a></li>
											<li><a href="#">Такери и нитачки (2)</a></li>
											<li><a href="#">Бормашини (10)</a></li>
											<li><a href="#">Бормашини и винтоверти (13)</a></li>
											<li><a href="#">Перфоратори и къртачи (9)</a></li>
											<li><a href="#">Ъглошлайфи (14)</a></li>
											<li><a href="#">Шлайф машини (7)</a></li>
											<li><a href="#">Циркуляри (6)</a></li>
											<li><a href="#">Ел. триони и рендета (8)</a></li>
											<li><a href="#">Моторни резачки и тримери (3)</a></li>
											<li><a href="#">Пистолети за боя (4)</a></li>
											<li><a href="#">Пистолети за горещ въздух (1)</a></li>
											<li><a href="#">Други (10)</a></li>
										</ul>
									</div>

									<div class="box box-type-7 color-category-1">
										<figure class="figure">
											<svg aria-hidden="true" class="icon icon-svg">
												<use xlink:href="../../assets/images/svg-sprite.svg#figure1"></use>
											</svg>
										</figure>

										<p class="title" data-count="15">Строителство</p>

										<ul>
											<li><a href="#">Триони и ножовки (1)</a></li>
											<li><a href="#">Ролетки (3)</a></li>
											<li><a href="#">Нивелири (3)</a></li>
											<li><a href="#">Такери и нитачки (2)</a></li>
											<li><a href="#">Бормашини (10)</a></li>
											<li><a href="#">Бормашини и винтоверти (13)</a></li>
										</ul>
									</div>

									<div class="box box-type-7 color-category-2">
										<figure class="figure">
											<svg aria-hidden="true" class="icon icon-svg">
												<use xlink:href="../../assets/images/svg-sprite.svg#figure2"></use>
											</svg>
										</figure>

										<p class="title" data-count="32">Строителство</p>

										<ul>
											<li><a href="#">Триони и ножовки (1)</a></li>
											<li><a href="#">Ролетки (3)</a></li>
											<li><a href="#">Нивелири (3)</a></li>
											<li><a href="#">Такери и нитачки (2)</a></li>
											<li><a href="#">Бормашини (10)</a></li>
											<li><a href="#">Бормашини и винтоверти (13)</a></li>
											<li><a href="#">Перфоратори и къртачи (9)</a></li>
											<li><a href="#">Ъглошлайфи (14)</a></li>
											<li><a href="#">Шлайф машини (7)</a></li>
											<li><a href="#">Циркуляри (6)</a></li>
											<li><a href="#">Ел. триони и рендета (8)</a></li>
											<li><a href="#">Моторни резачки и тримери (3)</a></li>
										</ul>
									</div>

									<div class="box box-type-7 color-category-3">
										<figure class="figure">
											<svg aria-hidden="true" class="icon icon-svg">
												<use xlink:href="../../assets/images/svg-sprite.svg#figure3"></use>
											</svg>
										</figure>

										<p class="title" data-count="2">Градина</p>

										<ul>
											<li><a href="#">Триони и ножовки (1)</a></li>
										</ul>
									</div>
								</div><!-- /.boxes -->
							</div><!-- /.block-bottom -->
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>