<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Смяна на парола</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Смяна на парола</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-small block-entrance">
						<div class="pad pad-secondary">
							<div class="block-content">
								<div class="form form-basic form-register">
									<p class="form-title">Смяна на парола</p>

									<form action="#">
										<div class="form-row">
											<label for="password" class="form-label required">Парола:</label>
										
											<div class="form-controls">
												<div class="field field-text">
													<input type="password" name="password" id="password" required />
												</div>
											</div>
										</div>

										<div class="form-row">
											<label for="password_confirm" class="form-label required">Повторете паролата:</label>
										
											<div class="form-controls">
												<div class="field field-text">
													<input type="password" name="password_confirm" id="password_confirm" required />
												</div>
											</div>
										</div>
										
										<div class="btns">
											<button class="btn btn-primary">Изпрати</button>
										</div>
									</form>
								</div><!-- /.form -->
							</div>
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>