<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner color-category-4">
					<svg aria-hidden="true" class="icon icon-svg">
						<use xlink:href="../../assets/images/svg-sprite.svg#figure4"></use>
					</svg>
					
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li><a href="products-categories-listing.html">Инструменти и техника</a></li>
								<li>Ръчни инструменти</li>
							</ul>
						</nav>
						
						<h2 class="title-primary">Ръчни инструменти</h2>

					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="pad pad-primary">
						<div class="block block-products-view">
							<div class="block-top">
								<div class="block-preview">
									<picture class="picture">
										<img src="../../assets/images/temp/product-preview.jpg" alt="" />
									</picture>
								</div><!-- /.block-preview -->
								
								<div class="block-content">
									<div class="block-content-top">
										<div class="title-wrap">
											<h1 class="block-title">ЪГЛОШЛАЙФ с.БОШ GWS 1000 + ДИАМАНТЕН ДИСК</h1>
											
											<p class="products-code">Код: 30500100082</p>
										</div>
										
										<picture class="logo logo-brand">
											<img src="../../assets/images/temp/logo-brand.png" alt="" />
										</picture>
									</div>

									<div class="block-content-middle">
										<div class="cols cols-full">
											<div class="col col4of12">
												<ul class="list-products-features">
													<li><p>Мощност W</p><strong>1000</strong></li>
													<li><p>Тегло кг/бр.</p><strong>2.1</strong></li>
													<li><p>Диаметър на диска мм.</p><strong>125</strong></li>
													<li><p>Въртящ момент Nm</p><strong>11 000</strong></li>
												</ul>

												<div class="btns">
													<a href="#tab2" class="btn btn-article" data-scrollto="#js-tabs-products">пълна характеристика</a>
												</div>
											</div>

											<div class="col col8of12">
												<div class="block-products-price">
													<div class="cols">
														<div class="col col6of12">
															<p class="price-primary price-old">
																<span>Стара цена:</span>
																<strong>65.88</strong>
																<span>лв./кв.м.</span>
															</p>

															<small class="price-primary price-old">
																<strong>45.88</strong>
																<span>лв./бр. дъскa</span>
															</small>
														</div>

														<div class="col col6of12">
															<p class="price-primary price-new">
																<span>Нова цена:</span>
																<strong>71.76</strong>
																<span>лв./кв.м.</span>
															</p>

															<small class="price-primary price-new">
																<strong>35.88</strong>
																<span>лв./бр. дъскa</span>
															</small>
														</div>
													</div><!-- /.cols -->

													<div class="cols">
														<div class="col col6of12">
															<div class="form form-products-add">
																<form action="#" id="js-cart-add">
																	<div class="cols cols-full">
																		<div class="col col6of12">
																			<div class="form-controls">
																				<div class="field field-number">
																					<input type="number" name="qty_primary_321" class="js-qty-product" id="js-qty-primary" data-calc-related="#js-qty-secondary" value="1" step="0.01" />
																					<span class="postfix"> кв.м.</span>
																				</div>

																				<!-- <div class="field field-text field-spinner">
																					<input type="text" name="123" class="js-qty-product" value="1" data-spinner-postfix=" бр." readonly />
																				</div> -->
																			</div>
																		</div>

																		<div class="col col6of12">
																			<div class="form-controls">
																				<div class="field field-number">
																					<input type="number" name="qty_secondary_321" class="js-qty-product" id="js-qty-secondary" data-calc-related="#js-qty-primary" value="1" step="0.01"/>
																					<span class="postfix"> бр.</span>
																				</div>
																			</div>
																		</div>
																	</div>

																	<p class="product-calc-utils"><strong id="js-qty-primary-util">1</strong> кв.м <=> <strong id="js-qty-secondary-util">1</strong> бр.</p>

																	<p class="msg msg-warning">Възможно е някои от въведените стойности да бъдат закръглени!</p>

																	<input type="hidden" name="qty_primary_rounded_321" id="js-qty-primary-rounded" value="1" />
																	<input type="hidden" name="qty_secondary_rounded_321" id="js-qty-secondary-rounded" value="1" />

																	<div class="btns">
																		<button type="submit" class="btn btn-primary">Купи сега</button>
																	</div>
																</form>
															</div><!-- /.form -->
														</div>

														<div class="col col6of12">
															<p class="price-primary price-total">
																<span>Крайна цена:</span>
																<strong id="js-price-total">35.88</strong>
																<span>лв.</span>
															</p>

															<p class="products-status success">
																<svg aria-hidden="true" class="icon icon-svg">
																	<use xlink:href="../../assets/images/svg-sprite.svg#check"></use>
																</svg>

																<strong>Неналично онлайн</strong>
																<a href="#tab3" data-scrollto="#js-tabs-products" data-scrollto-offset="150">Виж наличност в магазините</a>
															</p>

															<p class="products-status error">
																<svg aria-hidden="true" class="icon icon-svg">
																	<use xlink:href="../../assets/images/svg-sprite.svg#cross"></use>
																</svg>

																<strong>Налично онлайн</strong>
																<a href="#tab3" data-scrollto="#js-tabs-products">Виж наличност в магазините</a>
															</p>
														</div>
													</div><!-- /.cols -->
												</div>

												<div class="products-utilities">
													<div class="msg msg-info">
														<p class="title">Доставка</p>

														<div class="rich-text">
															<p>Цените на някои продукти зависят от транспортните разходи и са различни за различните складове.</p>
														</div>
													</div>

													<div class="btns">
														<a href="#tab5" class="btn btn-article" data-scrollto="#js-tabs-products">Информация за доставка</a>
													</div>
													
													<div class="socials socials-share">
														<span>Сподели в:</span>
														
														<a href="#" target="_blank" class="socials-item facebook">
															<svg aria-hidden="true" class="icon icon-svg">
																<use xlink:href="../../assets/images/svg-sprite.svg#facebook"></use>
															</svg>
														</a>
														
														<a href="#" target="_blank" class="socials-item google">
															<svg aria-hidden="true" class="icon icon-svg">
																<use xlink:href="../../assets/images/svg-sprite.svg#google"></use>
															</svg>
														</a>
													</div>
												</div>
											</div>
										</div><!-- /.cols -->
									</div>

									<div class="block-content-bottom">
										<div class="slider slider-related-products">
											<div class="slider-head">
												<p class="title">Купи още</p>

												<div class="slider-arrows">
													<div class="slider-arrow slider-arrow-prev" id="js-slider-related-prev"></div>
													<div class="slider-arrow slider-arrow-next" id="js-slider-related-next"></div>
												</div>
											</div>

											<div class="slider-body">
												<div class="slides" id="js-slider-related">
													<a href="#" class="slide">
														<picture class="picture">
															<img src="../../assets/images/temp/product-related1.jpg" alt="" />
														</picture>
												
														<div class="content">
															<p class="title">НОЖ ЗА ПРОБ.ТРИОН RSB FIT HANDLE БОШ</p>
												
															<p class="slider-price"><strong>35.88</strong> лв.</p>
														</div>
													</a>
													<a href="#" class="slide">
														<picture class="picture">
															<img src="../../assets/images/temp/product-related2.jpg" alt="" />
														</picture>
												
														<div class="content">
															<p class="title">КУТИЯ MEGA CANTILEVER 19"</p>
												
															<p class="slider-price"><strong>73.40</strong> лв.</p>
														</div>
													</a>
													<a href="#" class="slide">
														<picture class="picture">
															<img src="../../assets/images/temp/product-related3.jpg" alt="" />
														</picture>
												
														<div class="content">
															<p class="title">ВИНТОВЕРТ АКУМУЛАТОРЕН с.БОШ GSR 12V-15 3x2AH L-BOXX</p>
												
															<p class="slider-price"><strong>35.88</strong> лв.</p>
														</div>
													</a>
													<a href="#" class="slide">
														<picture class="picture">
															<img src="../../assets/images/temp/product-related1.jpg" alt="" />
														</picture>
													
														<div class="content">
															<p class="title">НОЖ ЗА ПРОБ.ТРИОН RSB FIT HANDLE БОШ</p>
													
															<p class="slider-price"><strong>35.88</strong> лв.</p>
														</div>
													</a>
													<a href="#" class="slide">
														<picture class="picture">
															<img src="../../assets/images/temp/product-related2.jpg" alt="" />
														</picture>
													
														<div class="content">
															<p class="title">КУТИЯ MEGA CANTILEVER 19"</p>
													
															<p class="slider-price"><strong>73.40</strong> лв.</p>
														</div>
													</a>
													<a href="#" class="slide">
														<picture class="picture">
															<img src="../../assets/images/temp/product-related3.jpg" alt="" />
														</picture>
													
														<div class="content">
															<p class="title">ВИНТОВЕРТ АКУМУЛАТОРЕН с.БОШ GSR 12V-15 3x2AH L-BOXX</p>
													
															<p class="slider-price"><strong>35.88</strong> лв.</p>
														</div>
													</a>
												</div>
											</div>
										</div><!-- /.slider -->
									</div>
								</div><!-- /.block-content -->
							</div><!-- /.block-top -->

							<div class="block-bottom">
								<div class="component-tabs" id="js-tabs-products">
									<nav class="tabs-nav">
										<ul>
											<li><a href="#" class="is-active" data-tabs-trigger="tab1" data-tabs-scope="tabs-products">Пълно описание</a></li>
											<li><a href="#" data-tabs-trigger="tab2" data-tabs-scope="tabs-products">Характеристики</a></li>
											<li><a href="#" data-tabs-trigger="tab3" data-tabs-scope="tabs-products">Наличност по магазините</a></li>
											<li><a href="#" data-tabs-trigger="tab4" data-tabs-scope="tabs-products">Документация</a></li>
											<li><a href="#" data-tabs-trigger="tab5" data-tabs-scope="tabs-products">Доставка</a></li>
										</ul>
									</nav>
									
									<div class="tabs-content" data-tabs-scope="tabs-products">
										<div class="tab" data-tabs-content="tab1" data-tabs-scope="tabs-products">
											<a href="#" class="tab-head" data-tabs-trigger="tab1" data-tabs-scope="tabs-products">Пълно описание</a>
									
											<div class="tabs-body">
												<article class="article">
													<h3>Lorem ipsum dolor sit amet, consectetur.</h3>

													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et pariatur tenetur similique. Reiciendis fugit, nam recusandae rerum nulla. Et ab ad suscipit exercitationem blanditiis necessitatibus iusto sunt maxime aperiam explicabo qui soluta ipsam similique eius nihil assumenda non fugit corrupti, quam possimus est! Nesciunt sed excepturi, reprehenderit deserunt praesentium tenetur sit neque. Tenetur consequatur quisquam, nulla dolorum fugit voluptas at dicta est cumque omnis, voluptatum. Repudiandae facilis excepturi rem beatae nam ullam, debitis rerum, dignissimos tempora quisquam, neque alias, nemo totam eveniet hic ipsam molestias. Quis sed, nihil placeat veritatis quae repellendus quos ut tempore temporibus qui, rem vero voluptatum.</p>

													<ul>
														<li>Lorem ipsum dolor sit.</li>
														<li>Lorem dolor sit.</li>
														<li>Lorem ipsum dolor sit.</li>
													</ul>

													<h3>Lorem ipsum dolor sit amet, consectetur.</h3>
													
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et pariatur tenetur similique. Reiciendis fugit, nam recusandae rerum nulla. Et ab ad suscipit exercitationem blanditiis necessitatibus iusto sunt maxime aperiam explicabo qui soluta ipsam similique eius nihil assumenda non fugit corrupti, quam possimus est! Nesciunt sed excepturi, reprehenderit deserunt praesentium tenetur sit neque. Tenetur consequatur quisquam, nulla dolorum fugit voluptas at dicta est cumque omnis, voluptatum. Repudiandae facilis excepturi rem beatae nam ullam, debitis rerum, dignissimos tempora quisquam, neque alias, nemo totam eveniet hic ipsam molestias. Quis sed, nihil placeat veritatis quae repellendus quos ut tempore temporibus qui, rem vero voluptatum.</p>
												</article>
											</div>
										</div><!-- /.tab -->
										
										<div class="tab" data-tabs-content="tab2" data-tabs-scope="tabs-products">
											<a href="#" class="tab-head" data-tabs-trigger="tab2" data-tabs-scope="tabs-products">Характеристики</a>
									
											<div class="tabs-body">
												<article class="article">
													<table class="table-basic">
														<thead>
															<tr>
																<th colspan="2">Преглед на спецификацията</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Номинална консумирана мощност</td>
																<td style="text-align: right;">1,000 W</td>
															</tr>
															<tr>
																<td>Обороти на празен ход</td>
																<td style="text-align: right;">11000 min-1</td>
															</tr>
															<tr>
																<td>Отдавана мощност</td>
																<td style="text-align: right;">630 W</td>
															</tr>
															<tr>
																<td>Резба на шпиндела</td>
																<td style="text-align: right;">M 14</td>
															</tr>
															<tr>
																<td>Диаметър на диска</td>
																<td style="text-align: right;">125 mm</td>
															</tr>
															<tr>
																<td>Гумен шлифовъчен диск, Ø</td>
																<td style="text-align: right;">125 mm</td>
															</tr>
															<tr>
																<td>Чашковидна четка, Ø</td>
																<td style="text-align: right;">630 W</td>
															</tr>
															<tr>
																<td>Дължина</td>
																<td style="text-align: right;">298 mm</td>
															</tr>
														</tbody>
													</table>

													<table class="table-basic">
														<thead>
															<tr>
																<th colspan="2">Шлифоване на повърхности (грубо шлифоване)</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Стойност на вибрационните емисии ah</td>
																<td style="text-align: right;">8.5 m/s²</td>
															</tr>
															<tr>
																<td>Неустойчивост K</td>
																<td style="text-align: right;">1.5 m/s²</td>
															</tr>
														</tbody>
													</table>

													<table class="table-basic">
														<thead>
															<tr>
																<th colspan="2">Шлифоване с шкурка</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Стойност на вибрационните емисии ah</td>
																<td style="text-align: right;">3 m/s²</td>
															</tr>
															<tr>
																<td>Неустойчивост K</td>
																<td style="text-align: right;">1.5 m/s²</td>
															</tr>
														</tbody>
													</table>
												</article>
											</div>
										</div><!-- /.tab -->
										
										<div class="tab" data-tabs-content="tab3" data-tabs-scope="tabs-products">
											<a href="#" class="tab-head" data-tabs-trigger="tab3" data-tabs-scope="tabs-products">Коментари и рейтинг</a>
									
											<div class="tabs-body">
												<!-- <div class="article">
													<p class="msg msg-error">Продукта не е наличен в нашите магазини.</p>
												</div> -->

												<div class="boxes boxes-type-6">
													<a href="#" class="box box-type-6">
														<p class="title">GS Строймаркет  - гр. София</p>

														<div class="text">
															<p>София 1220 <br />кв. Военна Рампа <br />ул. "Първа Българска армия" 1Б <br />тел./факс: (+359 2) 491 40 11</p>
														</div>
													</a>

													<a href="#" class="box box-type-6">
														<p class="title">GS Строймаркет  - гр. Добрич</p>

														<div class="text">
															<p>Центален офис - Добрич 9300 <br />Индустриална зона, ул. "Ан. Стоянов” 2, п.к. 655 <br />тел: (+359 58) 66 77 67 <br />тел: (+359 58) 53 91 07</p>
														</div>
													</a>

													<a href="#" class="box box-type-6">
														<p class="title">GS Строймаркет  - гр. Варна</p>

														<div class="text">
															<p>Варна 9000 <br />Западна промишлена зона <br />ул. "Уста Кольо Фичето" 31 <br />тел: (+359 52) 91 90 29 <br />тел: (+359 52) 50 17 51</p>
														</div>
													</a>

													<a href="#" class="box box-type-6">
														<p class="title">GS Строймаркет  - гр. Каварна</p>

														<div class="text">
															<p>Каварна 9650 <br />ул. “Строител” 1 <br />тел/факс: 0570/ 8 42 43</p>
														</div>
													</a>

													<a href="#" class="box box-type-6">
														<p class="title">GS Строймаркет  - гр. София</p>

														<div class="text">
															<p>София 1220 <br />кв. Военна Рампа <br />ул. "Първа Българска армия" 1Б <br />тел./факс: (+359 2) 491 40 11</p>
														</div>
													</a>
												</div><!-- /.boxes -->
											</div>
										</div><!-- /.tab -->

										<div class="tab" data-tabs-content="tab4" data-tabs-scope="tabs-products">
											<a href="#" class="tab-head" data-tabs-trigger="tab4" data-tabs-scope="tabs-products">Документация</a>
										
											<div class="tabs-body">
												<div class="boxes boxes-type-6 boxes-download">
													<a href="#" class="box box-type-6">
														<svg aria-hidden="true" class="icon icon-svg">
															<use xlink:href="../../assets/images/svg-sprite.svg#download"></use>
														</svg>
														<p class="title">Рекламна брошура Thermo Universal Лепило-шпакловка за топлоизолация</p>
													</a>
													<a href="#" class="box box-type-6">
														<svg aria-hidden="true" class="icon icon-svg">
															<use xlink:href="../../assets/images/svg-sprite.svg#download"></use>
														</svg>
														<p class="title">Лист с технически данни Thermo Universal</p>
													</a>
													<a href="#" class="box box-type-6">
														<svg aria-hidden="true" class="icon icon-svg">
															<use xlink:href="../../assets/images/svg-sprite.svg#download"></use>
														</svg>
														<p class="title">Декларация за съответствие Thermo Universal</p>
													</a>
													<a href="#" class="box box-type-6">
														<svg aria-hidden="true" class="icon icon-svg">
															<use xlink:href="../../assets/images/svg-sprite.svg#download"></use>
														</svg>
														<p class="title">Информационен лист за безопастност Thermo Universal</p>
													</a>
												</div><!-- /.boxes -->
											</div>
										</div><!-- /.tab -->

										<div class="tab" data-tabs-content="tab5" data-tabs-scope="tabs-products">
											<a href="#" class="tab-head" data-tabs-trigger="tab5" data-tabs-scope="tabs-products">Доставка</a>
										
											<div class="tabs-body">
												<article class="article">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit eveniet excepturi, ratione voluptatum, odio quis quasi fugit eos necessitatibus velit rerum sapiente veniam temporibus incidunt nobis dolorem quisquam mollitia voluptas. Sint nam eveniet facere inventore cupiditate, suscipit odio fugiat earum temporibus alias animi, qui, quas ut repellendus. Quae perferendis, a.</p>
												</article>
											</div>
										</div><!-- /.tab -->
									</div>
								</div><!-- /.component-tabs -->
							</div><!-- /.block-bottom -->
						</div><!-- /.block -->
					</div>
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<div class="accents accents-inner accents-inner-products">
		<section class="accent accent-related">
			<div class="wrapper">
				<h4 class="accent-title">Препоръчваме Ви</h4>
				
				<div class="pad pad-primary">
					<div class="boxes boxes-basic boxes-type-2">
						<a href="#" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new1.jpg" alt="" />
							</picture>
					
							<div class="content">
								<p class="brand">Raider</p>
			
								<p class="title">МАШИНА ЗА ПЛОЧКИ ПРОФЕСИОНАЛНА RD-TC14 60см</p>
					
								<div class="box-price-wrap">
									<p class="box-price"><strong>109.99</strong> лв.</p>
								</div>
							</div>
						</a>
			
						<a href="#" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new2.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Metabo</p>
			
								<p class="title">Ъглошлайф wev 10-125 quick метабо</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>723.99</strong> лв.</p>
								</div>
							</div>
						</a>
			
						<a href="#" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new3.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Bosch</p>
			
								<p class="title">ЧУК ДРЪЖКА ФИБРОСТЪКЛО ТМР DIN1041 300гр</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>35.88</strong> лв.</p>
								</div>
							</div>
						</a>
			
						<a href="#" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new4.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Stanley</p>
			
								<p class="title">КУТИЯ MEGA CANTILEVER 19"</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>73.40</strong> лв.</p>
								</div>
							</div>
						</a>
			
						<a href="#" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new5.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Stanley</p>
			
								<p class="title">НОЖИЦА ЗА ЛАМАРИНА ДЯСНА УСИЛЕНА СТЕНЛИ</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>35.69</strong> лв.</p>
								</div>
							</div>
						</a>
					</div><!-- /.boxes -->
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->

		<section class="accent accent-related">
			<div class="wrapper">
				<h4 class="accent-title">Още от категорията</h4>
				
				<div class="pad pad-primary">
					<div class="boxes boxes-basic boxes-type-2">
						<a href="#" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new1.jpg" alt="" />
							</picture>
					
							<div class="content">
								<p class="brand">Raider</p>
			
								<p class="title">МАШИНА ЗА ПЛОЧКИ ПРОФЕСИОНАЛНА RD-TC14 60см</p>
					
								<div class="box-price-wrap">
									<p class="box-price"><strong>109.99</strong> лв.</p>
								</div>
							</div>
						</a>
			
						<a href="#" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new2.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Metabo</p>
			
								<p class="title">Ъглошлайф wev 10-125 quick метабо</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>723.99</strong> лв.</p>
								</div>
							</div>
						</a>
			
						<a href="#" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new3.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Bosch</p>
			
								<p class="title">ЧУК ДРЪЖКА ФИБРОСТЪКЛО ТМР DIN1041 300гр</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>35.88</strong> лв.</p>
								</div>
							</div>
						</a>
			
						<a href="#" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new4.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Stanley</p>
			
								<p class="title">КУТИЯ MEGA CANTILEVER 19"</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>73.40</strong> лв.</p>
								</div>
							</div>
						</a>
			
						<a href="#" class="box box-basic box-type-2">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-new5.jpg" alt="" />
							</picture>
						
							<div class="content">
								<p class="brand">Stanley</p>
			
								<p class="title">НОЖИЦА ЗА ЛАМАРИНА ДЯСНА УСИЛЕНА СТЕНЛИ</p>
						
								<div class="box-price-wrap">
									<p class="box-price"><strong>35.69</strong> лв.</p>
								</div>
							</div>
						</a>
					</div><!-- /.boxes -->
				</div><!-- /.pad -->
			</div>
		</section><!-- /.accent -->
	</div><!-- /.accents -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
<script>
	$(document).ready(function() {
		// product actions
		var $formCartAdd = $('#js-cart-add');

		if ($formCartAdd.length) {
			var calcDebounced = Global.debounce(function($element) {
				ProductsActions.calculate('../ajax/cart-calculate.json', $element.serialize(), $element.data('calc-related'));
			}, 400);

			$('.js-qty-product').on('keyup', function() {
				calcDebounced($(this));
			});

			// add product to cart
			$formCartAdd.on('submit', function(evt) {
				evt.preventDefault();

				var $inputPrimary = $('#js-qty-primary-rounded');
				var id = Global.getDigits($inputPrimary[0].name);
				var qtyPrimary = $inputPrimary.val();

				ProductsActions.add('../ajax/cart-add.json', id, qtyPrimary);
			});
		}

		// slider related products init
		$('#js-slider-related').slick({
			slidesToShow: 3,
			slidesToScroll: 1,
			arrows: true,
			prevArrow: $('#js-slider-related-prev'),
			nextArrow: $('#js-slider-related-next'),
			dots: false,
			centerMode: false,
			focusOnSelect: true
		});
	});
</script>
</body>
</html>