<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner color-category-3">
					<svg aria-hidden="true" class="icon icon-svg">
						<use xlink:href="../../assets/images/svg-sprite.svg#figure3"></use>
					</svg>
					
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Инструменти и техника</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Инструменти и техника</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="boxes boxes-type-3 boxes-products-categories">
						<a href="products-listing.html" class="box box-type-3">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-categories1.jpg" alt="" />
							</picture>

							<div class="overlay">
								<div class="content">
									<p class="title">Градински пейки и люлки</p>
									
									<div class="text">
										<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. Lorem Ipsum е индустриален стандарт от около 1500 година</p>
									</div>
								</div>
							</div>
						</a>

						<a href="products-listing.html" class="box box-type-3">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-categories2.jpg" alt="" />
							</picture>

							<div class="overlay">
								<div class="content">
									<p class="title">Градински маркучи и поливни системи</p>
									
									<div class="text">
										<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия.  </p>
									</div>
								</div>
							</div>
						</a>

						<a href="products-listing.html" class="box box-type-3">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-categories3.jpg" alt="" />
							</picture>

							<div class="overlay">
								<div class="content">
									<p class="title">Моторни косачки</p>
									
									<div class="text">
										<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия.  </p>
									</div>
								</div>
							</div>
						</a>

						<a href="products-listing.html" class="box box-type-3">
							<picture class="picture">
								<img src="../../assets/images/temp/accent-categories4.jpg" alt="" />
							</picture>

							<div class="overlay">
								<div class="content">
									<p class="title">Градински Барбекюта</p>
									
									<div class="text">
										<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия.  </p>
									</div>
								</div>
							</div>
						</a>
					</div><!-- /.boxes -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>	