<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Моят профил</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Моят профил</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-profile block-profile-password-change">
						<div class="pad pad-secondary">
							<nav class="nav-content">
								<ul>
									<li><a href="profile-personal.html">Лични данни</a></li>
									<li class="selected"><a href="profile-password-change.html">Смяна на парола</a></li>
									<li><a href="profile-history.html">История на поръчките</a></li>
									<li><a href="profile-newsletter.html">Електронен бюлетин</a></li>
									<li><a href="index.html">Изход</a></li>
								</ul>
							</nav>

							<div class="block-content">
								<div class="form form-profile form-password-change">
									<h2 class="form-title">Смяна на паролата</h2>

									<form action="#">
										<div class="cols cols-full">
											<div class="col col2of5">
												<div class="pad pad-basic">
													<div class="form-row">
														<label for="password_old" class="form-label">Въведете настоящата си парола</label>
													
														<div class="form-controls">
															<div class="field field-text">
																<input type="password" name="password_old" id="password_old" placeholder="" />
															</div>
															
														</div>
													</div>
												</div><!-- /.pad -->
											</div>
											
											<div class="col col3of5">
												<div class="pad pad-basic">
													<div class="cols cols-full">
														<div class="col col6of12">
															<div class="form-row">
																<label for="password_new" class="form-label">Въведете новата парола</label>
															
																<div class="form-controls">
																	<div class="field field-text">
																		<input type="password" name="password_new" id="password_new" placeholder="" />
																	</div>
																	
																</div>
															</div>
														</div>
														
														<div class="col col6of12">
															<div class="form-row">
																<label for="password_new_confirm" class="form-label">Повторете новата парола</label>
															
																<div class="form-controls">
																	<div class="field field-text">
																		<input type="password" name="password_new_confirm" id="password_new_confirm" placeholder="" />
																	</div>
																	
																</div>
															</div>
														</div>
													</div><!-- /.cols -->
												</div><!-- /.pad -->
											</div>
										</div><!-- /.cols -->
										
										<div class="btns">
											<button class="btn btn-primary">Запишете промяната</button>
										</div>
									</form>
								</div><!-- /.form -->
							</div>
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>