<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Моят профил</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Моят профил</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-profile block-profile-history">
						<div class="pad pad-secondary">
							<nav class="nav-content">
								<ul>
									<li><a href="profile-personal.html">Лични данни</a></li>
									<li><a href="profile-password-change.html">Смяна на парола</a></li>
									<li class="selected"><a href="profile-history.html">История на поръчките</a></li>
									<li><a href="profile-newsletter.html">Електронен бюлетин</a></li>
									<li><a href="index.html">Изход</a></li>
								</ul>
							</nav>

							<div class="block-content">
								<h2 class="block-title">Данни за поръчка</h2>

								<div class="cols cols-full">
									<div class="col col6of12">
										<div class="pad pad-basic preview-info">
											<article class="article">
												<p>Дата: <strong>22.05.2018</strong></p>
												<p>Поръчка #: <strong>92832</strong></p>
												<p>Статус на поръчката: <strong>Изпълнена</strong></p>
																				
												<p>&nbsp;</p>
																				
												<h6>Лична информация:</h6>
												<p>Име: <strong>Никола</strong></p>
												<p>Фамилия: <strong>Гударовски</strong></p>
												<p>е-mail: <strong>test@test.com</strong></p>
												<p>Телефон: <strong>0888123456</strong></p>
												
												<p>&nbsp;</p>
												
												<h6>Фирмени данни:</h6>
												<p>Фирма: <strong>Фирма 2 ООД</strong></p>
												<p>МОЛ: <strong>Иван Иванов</strong></p>
												<p>Булстат: <strong>1321324353535</strong></p>
												<p>Адрес: <strong>ул. Мусала 25, вх. А, ет. 3, ап.12</strong></p>
																				
												<p>&nbsp;</p>
												
												<h6>Начин на доставка:</h6>
												<p>Тип: <strong>До адрес</strong></p>
												<p>Получател: <strong>Никола Гударовски</strong></p>
												<p>Град: <strong>Шабла</strong></p>
												<p>Пощенски код: <strong>5015</strong></p>
												<p>Адрес: <strong>ул. Мусала 25, вх. А, ет. 3, ап.12</strong></p>
												
												<p>&nbsp;</p>
																				
												<h6>Начин на плащане</h6>
												<p>Тип: <strong>Наложен платеж</strong></p>
											</article>
										</div><!-- /.pad -->
									</div>
									
									<div class="col col6of12">
										<div class="boxes boxes-type-9">
											<div class="box box-type-9">
												<picture class="picture">
													<img src="../../assets/images/temp/products-order1.jpg" alt="" />

													<span class="ribbon ribbon-qty">12</span>
												</picture>

												<div class="content">
													<p class="title">НОЖ ЗА ПРОБ.ТРИОН RSB FIT HANDLE БОШ</p>

													<div class="box-prices-wrap">
														<p class="box-price">Ед. цена: <strong>35.88</strong> лв.</p>
														<p class="box-price">Кр. цена: <strong>430.56</strong> лв.</p>
													</div>
												</div>
											</div>

											<div class="box box-type-9">
												<picture class="picture">
													<img src="../../assets/images/temp/products-order2.jpg" alt="" />

													<span class="ribbon ribbon-qty">1</span>
												</picture>

												<div class="content">
													<p class="title">КУТИЯ MEGA CANTILEVER 19"</p>

													<div class="box-prices-wrap">
														<p class="box-price">Ед. цена: <strong>73.40</strong> лв.</p>
														<p class="box-price">Кр. цена: <strong>73.40</strong> лв.</p>
													</div>
												</div>
											</div>

											<div class="box box-type-9">
												<picture class="picture">
													<img src="../../assets/images/temp/products-order3.jpg" alt="" />

													<span class="ribbon ribbon-qty">1</span>
												</picture>

												<div class="content">
													<p class="title">ВИНТОВЕРТ АКУМУЛАТОРЕН с.БОШ GSR 12V-15 3x2AH L-BOXX</p>

													<div class="box-prices-wrap">
														<p class="box-price">Ед. цена: <strong>35.88</strong> лв.</p>
														<p class="box-price">Кр. цена: <strong>35.88</strong> лв.</p>
													</div>
												</div>
											</div>
										</div><!-- /.boxes -->

										<div class="summary">
											<div class="summary-row">
												<p class="label">Междинна цена:</p>
												<p class="price"><strong>565.88</strong> лв.</p>
											</div>
											
											<div class="summary-row">
												<p class="label">ДДС:</p>
												<p class="price"><strong>113.18</strong> лв.</p>
											</div>

											<div class="summary-row">
												<p class="label">Доставка: <span>(Калкулира се, след избор на доставка)</span></p>
												<p class="price"><strong>0.00</strong> лв.</p>
											</div>
											
											<div class="summary-row">
												<p class="label">Крайна цена:</p>
												<p class="price"><strong>679.06</strong> лв.</p>
											</div>
										</div>
									</div>
								</div><!-- /.cols -->
							</div>
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>