<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Моят профил</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Моят профил</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-profile block-profile-history">
						<div class="pad pad-secondary">
							<nav class="nav-content">
								<ul>
									<li><a href="profile-personal.html">Лични данни</a></li>
									<li><a href="profile-password-change.html">Смяна на парола</a></li>
									<li class="selected"><a href="profile-history.html">История на поръчките</a></li>
									<li><a href="profile-newsletter.html">Електронен бюлетин</a></li>
									<li><a href="index.html">Изход</a></li>
								</ul>
							</nav>

							<div class="block-content">
								<h2 class="block-title">История на поръчките</h2>

								<div class="orders orders-history">
									<div class="orders-item">
										<div class="cols">
											<div class="col col6of12">
												<div class="orders-item-text">
													<p>Дата: <strong>22.05.2018</strong></p>

													<p>Поръчка #: <strong>92832</strong></p>

													<p>Статус на поръчката: <span class="order-status success">Изпълнена</span></p>
												</div>

												<div class="btns">
													<a href="profile-history-view.html" class="btn btn-article">Виж детайли</a>
												</div>
											</div>
											
											<div class="col col6of12">
												<div class="boxes boxes-type-8 boxes-orders-histyory">
													<div class="box box-type-8">
														<picture class="picture">
															<img src="../../assets/images/temp/products-order1.jpg" alt="" />
														</picture>

														<div class="content">
															<p class="title">нож за проб.трион rsb fit handle бош</p>

															<div class="price-wrap">
																<p class="price">Кр. цена: <strong>430.56</strong> лв.</p>
															</div>
														</div>
													</div>

													<div class="box box-type-8">
														<picture class="picture">
															<img src="../../assets/images/temp/products-order2.jpg" alt="" />
														</picture>

														<div class="content">
															<p class="title">кутия mega cantilever 19"</p>

															<div class="price-wrap">
																<p class="price">Кр. цена: <strong>73.40</strong> лв.</p>
															</div>
														</div>
													</div>

													<div class="box box-type-8">
														<picture class="picture">
															<img src="../../assets/images/temp/products-order3.jpg" alt="" />
														</picture>

														<div class="content">
															<p class="title">винтоверт акумулаторен с.бош gsr 12v-15 3x2ah l-boxx</p>

															<div class="price-wrap">
																<p class="price">Кр. цена: <strong>35.88</strong> лв.</p>
															</div>
														</div>
													</div>

													<div class="box box-type-8">
														<picture class="picture">
															<img src="../../assets/images/temp/products-order1.jpg" alt="" />
														</picture>

														<div class="content">
															<p class="title">нож за проб.трион rsb fit handle бош</p>

															<div class="price-wrap">
																<p class="price">Кр. цена: <strong>430.56</strong> лв.</p>
															</div>
														</div>
													</div>

													<div class="box box-type-8">
														<picture class="picture">
															<img src="../../assets/images/temp/products-order2.jpg" alt="" />
														</picture>

														<div class="content">
															<p class="title">кутия mega cantilever 19"</p>

															<div class="price-wrap">
																<p class="price">Кр. цена: <strong>73.40</strong> лв.</p>
															</div>
														</div>
													</div>

													<div class="box box-type-8">
														<picture class="picture">
															<img src="../../assets/images/temp/products-order3.jpg" alt="" />
														</picture>

														<div class="content">
															<p class="title">винтоверт акумулаторен с.бош gsr 12v-15 3x2ah l-boxx</p>

															<div class="price-wrap">
																<p class="price">Кр. цена: <strong>35.88</strong> лв.</p>
															</div>
														</div>
													</div>
												</div><!-- /.boxes -->
											</div>
										</div><!-- /.cols -->
									</div>

									<div class="orders-item">
										<div class="cols">
											<div class="col col6of12">
												<div class="orders-item-text">
													<p>Дата: <strong>22.05.2018</strong></p>

													<p>Поръчка #: <strong>92832</strong></p>

													<p>Статус на поръчката: <span class="order-status error">Отказана</span></p>
												</div>

												<div class="btns">
													<a href="profile-history-view.html" class="btn btn-article">Виж детайли</a>
												</div>
											</div>
											
											<div class="col col6of12">
												<div class="boxes boxes-type-8 boxes-orders-histyory">
													<div class="box box-type-8">
														<picture class="picture">
															<img src="../../assets/images/temp/products-order1.jpg" alt="" />
														</picture>

														<div class="content">
															<p class="title">нож за проб.трион rsb fit handle бош</p>

															<div class="price-wrap">
																<p class="price">Кр. цена: <strong>430.56</strong> лв.</p>
															</div>
														</div>
													</div>

													<div class="box box-type-8">
														<picture class="picture">
															<img src="../../assets/images/temp/products-order2.jpg" alt="" />
														</picture>

														<div class="content">
															<p class="title">кутия mega cantilever 19"</p>

															<div class="price-wrap">
																<p class="price">Кр. цена: <strong>73.40</strong> лв.</p>
															</div>
														</div>
													</div>
												</div><!-- /.boxes -->
											</div>
										</div><!-- /.cols -->
									</div>
								</div><!-- /.orders -->
							</div>
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>