<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Търсене</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Търсене</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-search">
						<article class="article">
							<h3>Вие търсите: <mark>влага и мухъл</mark></h3>
							
							<p>Резултати: 3</p>
							
							<h5>Резултати от продукти:</h5>
							
							<p>Не бяха намерени резултати.</p>
							
							<h5>Резултати от новини:</h5>
							
							<ul>
								<li>
									<p>Как да се справим с влагата и мухъла.</p>
							
									<p><a href="#">Вижте повече</a></p>
								</li>
							</ul>
						</article>
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>