<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>Карта на сайта</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">Карта на сайта</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<article class="article">
						<ul>
							<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
							<li><a href="#">Lorem ipsum dolor.Lorem ipsum dolor sit amet.</a></li>
							<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
							<li>
								<a href="#">Lorem ipsum dolor sit amet.</a>

								<ul>
									<li><a href="#">Lorem ipsum dolor sit.</a></li>
									<li><a href="#">Lorem ipsum dolor sit.</a></li>
									<li><a href="#">Lorem ipsum dolor sit.</a></li>
									<li><a href="#">Lorem ipsum dolor sit.</a></li>
									<li><a href="#">Lorem ipsum dolor sit.</a></li>
								</ul>
							</li>
							<li><a href="#">Lorem ipsum dolor.Lorem ipsum dolor sit amet.</a></li>
							<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
						</ul>
					</article><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
</body>
</html>