<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include virtual="../partials/head.shtml"-->
</head>
<body>
<div class="container" id="js-container">
	<!--#include virtual="../partials/header.shtml"-->

	<div class="main">
		<div class="main-head">
			<div class="wrapper">
				<div class="main-head-inner">
					<div class="main-head-inner-wrap">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="index.html">Начало</a></li>
								<li>История</li>
							</ul>
						</nav>
						
						<h1 class="title-primary">История</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- !!! ADD class="full" WHEN SIDEBAR IS MISSING !!! -->
		<div class="main-body full">
			<div class="wrapper">
				<main class="main-content">
					<div class="block block-timeline">
						<div class="pad pad-primary">
							<div class="slider-timeline">
								<div class="slider slider-timeline-top">
									<div class="slides" id="js-timeline">
										<div class="slide" style="background-image: url('../../assets/images/temp/timeline1.jpg');">
											<div class="description">
												<p class="title">1990</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline2.jpg');">
											<div class="description">
												<p class="title">2001</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline1.jpg');">
											<div class="description">
												<p class="title">2003</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline2.jpg');">
											<div class="description">
												<p class="title">2005</p>
																				
												<div class="text">
													<p>Изграждане на нова модерна търговска база в гр. Варна, със складови площи и съвремен логистичен център. Търговската площ на магазина в град Варна е разположена на 2 етажа с обща площ 500 кв.м.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline1.jpg');">
											<div class="description">
												<p class="title">2006</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline2.jpg');">
											<div class="description">
												<p class="title">2008</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline1.jpg');">
											<div class="description">
												<p class="title">2009</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline2.jpg');">
											<div class="description">
												<p class="title">2010</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline1.jpg');">
											<div class="description">
												<p class="title">2011</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline2.jpg');">
											<div class="description">
												<p class="title">2012</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline1.jpg');">
											<div class="description">
												<p class="title">2013</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline2.jpg');">
											<div class="description">
												<p class="title">2015</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline1.jpg');">
											<div class="description">
												<p class="title">2016</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>

										<div class="slide" style="background-image: url('../../assets/images/temp/timeline2.jpg');">
											<div class="description">
												<p class="title">2017</p>

												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, corrupti natus. Eveniet, mollitia facilis! Fugiat ea atque blanditiis sit quibusdam animi quos laborum eveniet tempore amet enim, omnis, sint similique.</p>
												</div>
											</div>
										</div>
									</div>
								</div><!-- /.slider -->
								
								<div class="slider slider-timeline-nav">
									<div class="slides" id="js-timeline-nav">
										<div class="slide"><span>1990</span></div>
										<div class="slide"><span>2001</span></div>
										<div class="slide"><span>2003</span></div>
										<div class="slide"><span>2005</span></div>
										<div class="slide"><span>2006</span></div>
										<div class="slide"><span>2008</span></div>
										<div class="slide"><span>2009</span></div>
										<div class="slide"><span>2010</span></div>
										<div class="slide"><span>2011</span></div>
										<div class="slide"><span>2012</span></div>
										<div class="slide"><span>2013</span></div>
										<div class="slide"><span>2015</span></div>
										<div class="slide"><span>2016</span></div>
										<div class="slide"><span>2017</span></div>
									</div>
								</div><!-- /.slider -->
							</div><!-- /.slider-timeline -->
						</div><!-- /.pad -->
					</div><!-- /.block -->
				</main>
			</div>
		</div>
	</div><!-- /.main -->

	<!--#include virtual="../partials/footer.shtml"-->
</div>

<!--#include virtual="../partials/scripts.shtml"-->
<script>
	$(window).on('load', function() {
		// timeline sliders
		var $timelineTop = $('#js-timeline');
		var $timelineNav = $('#js-timeline-nav');
		var lastItemIndex = $timelineNav.find('.slide:last-child').index();

		if ($timelineTop.length && $timelineNav.length) {
			$timelineTop.slick({
				slidesToShow: 1,
				slidesToScroll: 1,
				arrows: false,
				fade: true,
				asNavFor: $timelineNav
			});

			$timelineNav.slick({
				slidesToShow: 7,
				slidesToScroll: 1,
				asNavFor: $timelineTop,
				arrows: false,
				dots: false,
				centerMode: true,
				focusOnSelect: true,
				responsive: [{
					breakpoint: 1024,
					settings: {
						slidesToShow: 5
					}
				},
				{
					breakpoint: 479,
					settings: {
						slidesToShow: 3
					}
				},
				{
					breakpoint: 359,
					settings: {
						slidesToShow: 1
					}
				}]
			});

			$timelineNav.slick('slickGoTo', lastItemIndex);
		}
	});
</script>
</body>
</html>