<header class="header">
    <div class="wrapper">
        <a href="index.html" class="logo">
            <img src="images/logo2x.png" alt="logo" width="150" height="39" />
        </a>

        <button class="btn btn-menu" id="js-menu-trigger">
			<span class="btn-menu-box">
				<span class="btn-menu-inner"></span>
			</span>
        </button>

        <nav class="nav-primary" id="js-menu-target">
            <ul>
                <li><a href="javascript:;" class="js-scroll" data-scroll-target="#accent-services">Services</a></li>
                <li><a href="javascript:;" class="js-scroll" data-scroll-target="#accent-about">About</a></li>
                <li><a href="javascript:;" class="js-scroll" data-scroll-target="#accent-contacts">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>